.add-pokemon-form{
    margin: 50px 0;
    height: 300px;
    width: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translateX(100%);
    transition: 0.5s;
    right: 0;
    display: block;
    
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active-form{
    transform: translateX(0);
    
}

