@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: tomato;
    overflow-x: hidden;
    height: 16556px;
}